<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header navbar-left">
    <a class="navbar-brand" href="#">Scenario Name</a>
  </div>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">account</a></li>
      <li><button type="button" class="btn btn-default navbar-btn">Sign in</button><li>
    </ul>
  </div>
</nav>
