<nav class="navbar navbar-inverse navbar-fixed-top">
  <% if not @scenario.nil? %>
  <div class="navbar-header navbar-left">
    <a class="navbar-brand" href="/">Scenario Select</a>
  </div>
  <% end %>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in?%>
        <li><%= link_to "account", url: '/users/edit' %></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %><li>
      <% else %>
        <li><%= button_to "Sign in", new_user_session_path, class: "btn btn-default navbar-btn" %><li>
      <% end %>
    </ul>
  </div>
</nav>
