<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li>
      <span><%= @scenario.name %></span>
    </li>
    <% @scenario.levels.each do |level| %>
    <li class="active">
      <a href="#">
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-dashboard fa-stack-1x "></i>
        </span>Level <%= level.number %>
      </a>
      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
      <% level.challenges.each do |challenge| %>
        <li><%= link_to "Challenge #{challenge.number}", scenario_level_challenge_path(@scenario, level, challenge), method: :get, remote: :true %>
      <% end %>
      </ul>
    </li>
    <% end %>
    <li>
      <a href="#">
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-server fa-stack-1x "></i>
        </span>Help
      </a>
      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-flag fa-stack-1x "></i>
            </span>FAQ
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-flag fa-stack-1x "></i>
            </span>Chat
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
