<%= render "shared/navbar" %>
<div id="wrapper">
  <%= render "shared/sidebar" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <div id="challenge-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
